@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Karla:ital@1&family=Pacifico&display=swap');

* {
  padding: 0;
  margin: 0;
}

h2{
  font-size: 2.5em !important;
}

.informationCard{
  display: flex;
  justify-content: space-between;
}

.priceProduct{
  font-size: 1.5em;
  color:white;
}

.product-card {
  margin: 40px auto 100px 0 !important;
}

.product-card img {
  height: 300px;
  margin: 0 auto;
  object-fit: cover;
}

.card-body  {
  background-color:rgba(48, 114, 48, 0.678); 
}

.button {
 align-items: flex-end !important;
 width: 50px;
 height: 50px;
}

.button-trash{
  padding: 5px;
  align-items: center;
  height: 30px !important;
}


@media (max-width: 768px) { 

h2{
  font-size: 3em !important;
}
.button {
 align-items: flex-end !important;
 width: 50px;
 height: 50px;
}

.button-trash{
  padding: 5px;
  align-items: center;
  height: 30px !important;
}

}